<main>
    <header>
    <div class="container">
        <h1 class="mb-0">Galeri</h1>
        <h5 class="mb-4">Dokumentasi kegiatan</h5>
    </div>
    </header>
    <div class="container">
    <div class="galeri">
        <div class="galeri-grid">
            <div class="galeri-sizer"></div>
            <% images.forEach((img) => { %>
                <div class="galeri-item">
                    <img src="<%= img.media_url %>" alt="<%= img.caption %>">
                    <div class="detail-galeri position-absolute p-3">
                        <h5><%= img.caption %></h5>
                    </div>
                </div>
            <% }); %>
        </div><!-- galeri-grid -->
    </div><!-- galeri -->
    </div><!-- container -->
</main>

<%- contentFor('js') %>
<script src="plugin/masonry.pkgd.min.js"></script>
<script src="plugin/imagesloaded.pkgd.min.js"></script>
<script src="js/galeri.js"></script>
