<main>
    <header>
    <div class="container">
        <h1 class="mb-0">Galeri</h1>
        <h5 class="mb-4">Dokumentasi kegiatan</h5>
    </div>
    </header>
    <div class="container">
    <div class="galeri">
        <!-- <div class="d-flex justify-content-center mt-5" id="loading"> -->
        <!--     <div class="loading"><div></div></div> -->
        <!-- </div> -->

        <div class="galeri-grid">
            <div class="galeri-sizer"></div>
            <div class="galeri-item">
                <img src="img/img1.jpg" alt="">
                <div class="detail-galeri position-absolute p-3">
                    <h5>Pengukuran arah kiblat</h5>
                </div>
            </div>
            <div class="galeri-item">
                <img src="img/img2.jpg" alt="">
                <div class="detail-galeri position-absolute p-3">
                    <h5>Pengukuran arah kiblat</h5>
                </div>
            </div>
            <div class="galeri-item">
                <img src="img/img3.jpg" alt="">
                <div class="detail-galeri position-absolute p-3">
                    <h5>Pengukuran arah kiblat</h5>
                </div>
            </div>
            <div class="galeri-item">
                <img src="img/img4.jpg" alt="">
                <div class="detail-galeri position-absolute p-3">
                    <h5>Pengukuran arah kiblat</h5>
                </div>
            </div>
        </div><!-- galeri-grid -->
    </div><!-- galeri -->
    </div><!-- container -->
</main>

<%- contentFor('js') %>
<script src="plugin/masonry.pkgd.min.js"></script>
<script src="plugin/imagesloaded.pkgd.min.js"></script>
<script src="js/galeri.js"></script>
