<main>
<div class="layanan d-flex align-items-center">
    <div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-5">Moto & Prinsip Layanan</h1>
        </div>
        <div class="col-12 col-md-6 mb-3 mb-md-0">
            <h5 class="mb-1">Moto</h5>
            <h3>Melayani dengan senang hati dan menyenangkan</h3>
        </div>

        <div class="col-12 col-md-6">
            <h5 class="mb-1">Prinsip</h5>
            <h3>Ramah, profesional dan tuntas</h3>
        </div>
    </div>
    </div><!-- container -->
</div><!-- layanan -->

<div class="ringkasan-galeri">
    <div class="container">
    <h1 class="mb-0">Galeri Foto & Video</h1>
    <h5 class="mb-4">Dokumentasi kegiatan</h5>
    <div class="row mb-2" id="foto">
        <div class="loading" id="foto-loading"><div></div></div>
    </div>

    <div class="row" id="video">
        <div class="loading" id="video-loading"><div></div></div>
    </div>
    </div><!-- container -->
</div><!-- ringkasan-galeri -->

<div class="kode-etik">
    <div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-5">Kode Etik</h1>
        </div>

        <div class="col-12 col-md-6 mb-4 position-relative">
            <h1 class="mb-1 me-3">1</h1>
            <h4>Menjunjung tinggi kesatuan dan persatuan bangsa<h4>
        </div>
        <div class="col-12 col-md-6 mb-4 position-relative">
            <h1 class="mb-1 me-3">2</h1>
            <h4>Mengutamakan pengabdian dan pelayanan kepada masyarakat</h4>
        </div>
        <div class="col-12 col-md-6 mb-4 position-relative">
            <h1 class="mb-1 me-3">3</h1>
            <h4>Bekerja dengan jujur dan amanah</h4>
        </div>
        <div class="col-12 col-md-6 mb-4 position-relative">
            <h1 class="mb-1 me-3">4</h1>
            <h4>Melaksanakan tugas dengan disiplin, profesional dan inovatif</h4>
        </div>
        <div class="col-12 col-md-6 mb-4 position-relative">
            <h1 class="mb-1 me-3">5</h1>
            <h4>Setia kawan dan bertanggung jawab atas kesejahteraan korp</h4>
        </div>
    </div>
    </div><!-- container -->
</div>
</main>

<%- contentFor('js') %>
<script src="js/index.js"></script>
