<main>
    <header>
    <div class="container">
        <h1>Persyaratan Duplikat Buku Nikah</h1>
    </div>
    </header>

    <div class="container">
    <div class="persyaratan-nikah">
        <ol>
            <li>Keterangan kehilangan dari kepolisian.</li>
            <li>Fotocopy KTP.</li>
            <li>Pas Foto 4x6 1 Lembar, 3x4 2 Lembar, 2x3 2 Lembar.</li>
            <li>Fotocopy KTP wali.</li>
            <li>Fotocopy KTP saksi.</li>
            <li>Mas kawin.</li>
        </ol>
    </div>
    </div>
</main>
