<main>
    <header>
    <div class="container">
        <h1>Persyaratan Rekomendasi Nikah</h1>
    </div>
    </header>

    <div class="container">
    <div class="persyaratan-nikah">
        <ol>
            <li>Fotocopy NA (Model N1, N2, N4, N5).</li>
            <li>Fotocopy Kartu Keluarga, KTP, Akte Kelahiran, Ijazah.</li>
            <li>Pas Foto 4x6 2 Lembar.</li>
            <li>Alamat KUA tujuan.</li>
            <li>Fotocopy Kartu Keluarga pasangan.</li>
        </ol>

        <p class="mt-5">CATATAN:</p>
        <p>Persyaratan 1, 2, 3, dan 4, merupakan berkas calon pengantin yang mau membuat rekomendasi nikah.</p>
        <p>Jika rekomendasi keluar negeri, berkas dikirim ke KBRI (Kedutaan Besar Republik Indonesia) negara tujuan, dan juga berkas dikirim ke KUA sekementrian agama pusat.</p>
        <p>Terimakasih.</p>
    </div>
    </div>
</main>
