<main>
    <header>
    <div class="container">
        <h1>Persyaratan Nikah</h1>
    </div>
    </header>

    <div class="container">
    <div class="persyaratan-nikah">
        <ol>
            <li>Surat keterangan nikah dari kelurahan/Kepala desa tempat tinggal catin (Model N1, N2, N4, N5).</li>
            <li>Fotocopy KTP catin 1 lembar.</li>
            <li>Fotocopy Kartu Keluarga/KK 1 lembar.</li>
            <li>Fotocopy KTP Orang Tua catin/Wali nikah, baik yang Ayah dan Ibu masing-masing 1 lembar.</li>
            <li>Fotocopy Akte Kelahiran masing-masing 1 lembar.</li>
            <li>Fotocopy Ijazah/STTB pendidikan terakhir masing-masing 1 lembar.</li>
            <li>Bagi catin yang umurnya kurang 19 tahun harus melampirkan surat izin dari Pengadilan Agama/Dispensasi pernikahan.</li>
            <li>Bagi CATIN DUDA ATAU JANDA harus melampirkan bukti asli AKTA CERAI (PENGADILAN) ATAUPUN AKTA KEMATIAN DARI CAPIL.</li>
            <li>Surat keterangan KIR TT dari puskesmas terdekat.</li>
            <li>Pas photo ukuran 2 x 3 = 2 lembar, 3 x 4 = 2 lembar, 4 x 6 = 2 lembar dengan latar belakang biru.</li>
            <li>Bagi catin yang berasal dari luar kecamatan harus melampirkan surat rekomendasi dari KUA tempat tinggal.</li>
            <li>Surat dari atasan bagi TNI/POLRI.</li>
            <li>Surat keterangan JEJAKA DAN PERAWAN yang bermaterai.</li>
            <li>Melampirkan nomor handphone catin.</li>
        </ol>

        <p class="mt-5">CATATAN:</p>
        <p>Waktu pendaftaran 10 hari jam kerja, tanggal merah tidak terhitung sebelum tanggal pernikahan dan semua nik yang ada di kartu keluarga harus divalidasikan terlebih dahulu ke CAPIL dan tolong diperiksa nama di KTP dan Ijazah harus sama, bila ada perbedaan nama di KTP dan Ijazah segera rubah dulu ke CAPIL.</p>
        <p>Terimakasih.</p>
    </div>
    </div>
</main>
