<main>
    <header>
    <div class="container">
        <h1>Persyaratan Isbat Nikah</h1>
    </div>
    </header>

    <div class="container">
    <div class="persyaratan-nikah">
        <ol>
            <li>Fotocopy KTP suami istri/domisili dari desa atau lurah.</li>
            <li>Surat keterangan nikah dari kepala desa/lurah tempat menikah.</li>
            <li>Pas Foto 4x6 1 Lembar, 3x4 2 Lembar, 2x3 2 Lembar.</li>
            <li>Fotocopy KK satu lembar, lalu dibawa kekantor pos untuk di leges pakai materai 6000.</li>
            <li>Surat keterangan dari KUA kecamatan tempat tinggal.</li>
            <li>Surat permohonan ditujukan kepada pengadilan agama.</li>
            <li>Biaya panjar perkara sesuai radius jarak tempat tinggal ke pangadilan agama, bayar di pengadilan</li>
        </ol>

        <p class="mt-4">Persyaratan ambil surat keterangan dari KUA:</p>
        <ol>
            <li>Satu lembar fotocopy surat keterangan nikah dari KADES/Lurah</li>
            <li>Satu lembar fotocopy KK</li>
            <li>Satu lembar fotocopy KTP suami istri</li>
        </ol>
    </div>
    </div>
</main>
