<main>
    <header>
    <div class="container">
        <h1>Sejarah</h1>
    </div>
    </header>

    <div class="container">
    <div class="sejarah">
        <p>Elit at accusamus corrupti inventore illum, cum Adipisicing reiciendis cumque cupiditate nobis suscipit? Laboriosam vel illum ut nesciunt libero, voluptates Ducimus odit quia commodi temporibus iste? Expedita quibusdam animi enim praesentium delectus. Debitis placeat explicabo corporis sed voluptatibus Neque dicta non quisquam deleniti tempora temporibus accusantium quo? Pariatur animi laboriosam ad molestiae labore Dolorum saepe velit illum nihil soluta Provident quibusdam vero obcaecati quis incidunt architecto? Sunt reiciendis fugit vitae quia necessitatibus accusamus! Omnis commodi necessitatibus in ex illum, itaque at explicabo Tempore veniam necessitatibus tenetur doloremque fuga blanditiis repudiandae. Commodi quam porro natus iure minus Eaque sed blanditiis laborum quia porro iste possimus! Provident repudiandae veniam natus laboriosam aliquam. Nisi voluptates quidem tenetur perferendis et. Excepturi nesciunt est illum quidem rem, recusandae consequatur. Fugiat mollitia a pariatur repudiandae nostrum Recusandae quibusdam vel rem odit cumque Non aut in culpa exercitationem dicta, corrupti nobis? Quo quaerat beatae distinctio nihil doloribus iusto. Assumenda debitis suscipit dolorum eos quia, explicabo? Sit maxime fugit dolorum voluptates consequatur voluptas voluptatum. Atque odit porro quos labore fugit. Omnis vero quod voluptates ut maxime. Pariatur tenetur dolorem quibusdam cupiditate assumenda. Nam facere iure dicta quod error. Tenetur ullam enim quidem repudiandae necessitatibus beatae! Debitis sed quae</p>
        <p>Lorem qui facilis nemo ullam itaque. Eveniet id accusantium nihil molestias obcaecati Obcaecati dolores fuga consequatur beatae ducimus nihil, delectus sequi, incidunt? Et porro hic voluptate ipsa quibusdam Nesciunt saepe illum exercitationem ad pariatur ipsa Blanditiis nesciunt doloremque aliquam consequuntur error. Placeat vitae nobis repellendus molestias vitae blanditiis cupiditate Officia provident beatae laboriosam hic exercitationem mollitia molestias Voluptatem provident nulla ratione ex inventore Eveniet nihil quibusdam consectetur sed obcaecati ipsa commodi. Blanditiis cum temporibus autem impedit expedita Praesentium consequatur laboriosam optio facilis voluptate sit Accusantium enim enim quibusdam nobis voluptatibus, quam! Perferendis deleniti odit rem nostrum laborum Temporibus consectetur aliquam aspernatur corporis doloremque laborum. Dolor consequatur temporibus earum facilis iste dolor cumque. Enim aliquid sit repellat totam error? Vero necessitatibus non ad autem natus! Facere omnis doloremque esse nam adipisci? Mollitia asperiores debitis adipisci architecto cum Recusandae cum quidem animi unde autem? Rerum doloremque possimus voluptas amet modi? Molestiae voluptatibus</p>
    </div>
    </div>
</main>
