<main>
    <header>
    <div class="container">
        <h1>Sejarah</h1>
    </div>
    </header>

    <div class="container">
    <div class="sejarah">
        <p>Kantor Urusan Agama Kecamatan Kepahiang merupakan satu-satunya ketika masih bergabung dengan Rejang Lebong. KUA tertua di Kabupaten Kepahiang, setelah itu menyusul Kantor Urusan Agama Ujan Mas, Bermani Ilir, dan Tebat Karai. Pada tahun 2016, menyusul Kantor Urusan Agama Merigi, Kabawetan, Muara Kemumu dan Seberang Musi.
        <p>Kantor Urusan Agama Kepahiang terletak di Ibu Kota Kabupaten Kepahiang, berada dalam komplek perkantoran Kabupaten Kepahiang. Terdiri dari 7 Kelurahan 16 Desa, total 23 Desa Kelurahan. Kepala Kantor Urusan Agama Zailani BA. Drs. Saukani. Lukman,S.Ag. Hevar Viton,MH. Khoirudin, S.Ag. Ali Akbar, SH. Mudahri,MH. Muhammad Ridwan,M.Ag Bambang Utoyo,MH (2022).</p>
        <p>Gedung Kantor Urusan Agama Kepahiang pertama di Kelurahan Pasar Kepahiang komplek kantor Camat Kepahiang sebelum menjadi Kabupaten Kepahiang. Komplek perkantoran Pemda Kepahiang dekat rumah dinas Bupati. Komplek perkantoran Pemda Kepahiang depan kantor Kemenag Kabupaten Kepahiang.</p>

        <p>Kantor Urusan Agama Kepahiang terdiri dari 7 Kelurahan :</p>
        <ol>
            <li>Kampung Pensiunan</li>
            <li>Pasar Ujung</li>
            <li>Dusun Kepahiang</li>
            <li>Padang Lekat</li>
            <li>Pasar Kepahiang</li>
            <li>Pasar Sejantung</li>
            <li>Pensiunan</li>
        </ol>

        <p>Sedangkan Desa terdiri dari 16 Desa :</p>
        <ol>
            <li>Suka Merindu</li>
            <li>Tebat Monok</li>
            <li>Imigrasi Permu</li>
            <li>Kelilik</li>
            <li>Permu</li>
            <li>Kutorejo</li>
            <li>Permu Bawah</li>
            <li>Karang Anyar</li>
            <li>Karang Endah</li>
            <li>Taba Tebelet</li>
            <li>Weskust</li>
            <li>Pelangkian</li>
            <li>Kampung Bogor</li>
            <li>Kelobak</li>
            <li>Bogor Baru</li>
            <li>Pagar Gunung</li>
        </ol>
    </div>
    </div>
</main>
