<main>
    <header>
    <div class="container">
        <h1>Standar Pelayanan Minimal</h1>
    </div>
    </header>

    <div class="container">
    <div class="standar-pelayanan-minimal">
        <table class="table table-stripped">
            <thead class="align-middle">
                <tr>
                    <th rowspan="2" width="30">No</th>
                    <th rowspan="2">Jenis Pelayanan</th>
                    <th colspan="2" class="text-center">Standar Waktu</th>
                </tr>
                <tr>
                    <th>Waktu SPM</th>
                    <th>Efektifitas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th colspan="4">Pelayanan Umum</th>
                </tr>
                <tr>
                    <td>01</td>
                    <td>Pengantar Kehendak Nikah</td>
                    <td>05 Menit</td>
                    <td>05 Menit</td>
                </tr>
                <tr>
                    <td>02</td>
                    <td>Rekomendasi Nikah</td>
                    <td>29 Menit</td>
                    <td>25 Menit</td>
                </tr>
                <tr>
                    <td>03</td>
                    <td>Legalisasi Akta Nikah</td>
                    <td>14 Menit</td>
                    <td>14 Menit</td>
                </tr>
                <tr>
                    <td>04</td>
                    <td>Duplikat Surat Nikah</td>
                    <td>28 Menit</td>
                    <td>25 Menit</td>
                </tr>
                <tr>
                    <td>05</td>
                    <td>Dispensasi Nikah</td>
                    <td>05 Menit</td>
                    <td>05 Menit</td>
                </tr>

                <tr>
                    <th colspan="4">Pelayanan Nikah/Rujuk</th>
                </tr>
                <tr>
                    <td>06</td>
                    <td>Pendaftaran Nikah</td>
                    <td>10 Menit</td>
                    <td>10 Menit</td>
                </tr>
                <tr>
                    <td>07</td>
                    <td>Pemeriksaan Nikah</td>
                    <td>52 Menit</td>
                    <td>45 Menit</td>
                </tr>
                <tr>
                    <td>08</td>
                    <td>Pelaksanaan Akad Nikah</td>
                    <td>51 Menit</td>
                    <td>35 Menit</td>
                </tr>
                <tr>
                    <td>09</td>
                    <td>Penerbitan Kutipan Akta Nikah</td>
                    <td>07 Menit</td>
                    <td>07 Menit</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Konsultasi</td>
                    <td>55 Menit</td>
                    <td>25 Menit</td>
                </tr>

                <tr>
                    <th colspan="4">Pelayanan Wakaf</th>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Pendaftaran</td>
                    <td>10 Menit</td>
                    <td>10 Menit</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Pelaksanaan Ikrar Wakaf</td>
                    <td>20 Menit</td>
                    <td>20 Menit</td>
                </tr>

                <tr>
                    <th colspan="4"></th>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Pengukuran Arah Kiblat</td>
                    <td>40 Menit</td>
                    <td>40 Menit</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</main>
