<main>
    <header>
    <div class="container">
        <h1>Struktur Organisasi</h1>
    </div>
    </header>

    <div class="container">
    <div class="struktur-organisasi">
        <img src="img/struktur_organisasi.svg" alt="">
    </div>
    </div>
</main>
