<main>
    <header>
    <div class="container">
        <h1>Struktur Organisasi</h1>
    </div>
    </header>

    <div class="container">
    <div class="struktur-organisasi">
        <img src="https://drive.google.com/uc?export=download&id=1JON6vEOjozRRC2bZy-ta81Ip4_GNUuiF" alt="Struktur Organisasi">
    </div>
    </div>
</main>
