<main>
    <header>
    <div class="container">
        <h1 class="mb-0">Video</h1>
        <h5 class="mb-4">Dokumentasi kegiatan dan Informasi</h5>
    </div>
    </header>
    <div class="container">
    <div class="galeri text-center">
        <div class="galeri-grid mb-5">
        <div class="row m-0">
            <div class="loading p-0" id="loading"><div></div></div>
        </div>
        </div><!-- galeri-grid -->
    </div><!-- galeri -->
    </div><!-- container -->
</main>

<%- contentFor('js') %>
<script src="js/video.js"></script>
