<main>
    <header>
    <div class="container">
        <h1>Visi & Misi</h1>
    </div>
    </header>

    <div class="container">
    <div class="visi-misi">
        <h5>Visi</h5>
        <p>Terwujudnya masyarakat Kecamatan Kepahiang yang taat beragama, Rukun, Cerdas dan Sejahtera lahir dan batin dalam Rangka mewujudkan kepahiang yang berdaulat, mandiri dan berkepribadian berlandaskan gotong royong</p>

        <h5>Misi</h5>
        <ol>
            <li>Meningkatkan pemahaman dan pengamalan ajaran agama.</li>
            <li>Memantapkan kerukunan intra dan antar umat beragama.</li>
            <li>Menyediakan pelayanan kehidupan beragama yang merata dan berkualitas.</li>
            <li>Meningkatkan pemahaman dan kualitas pengelolaan potensi ekonomi.</li>
            <li>Mewujudkan Penyelenggaraan Ibadah Haji dan Umrah yang Berkualitas dan akuntabel.</li>
            <li>Meningkatkan akses dan kualitas pendidikan umum dan pendidikan keagamaan.</li>
            <li>Mewujudkan tata kelola pemerintahan yang bersih, akuntabel dan terpercaya.</li>
        </ol>
    </div>
    </div>
</main>
