.layanan {
    background-color: var(--kua-green);
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 70vh;
}

.layanan h1,
.ringkasan-galeri h1,
.layanan h3 {
    font-family: 'WorkSans Medium';
}

.layanan h5,
.ringkasan-galeri h5 {
    font-family: 'WorkSans Regular';
}

.ringkasan-galeri {
    padding-top: 50px;
    padding-bottom: 50px;
}

.ringkasan-galeri img {
    width: 100%;
    position: relative;
}

.ringkasan-galeri .row {
    padding-left: 12px;
    padding-right: 12px;
}

.detail-galeri {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(212, 224, 155, .9);
    opacity: 0;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-galeri:hover {
    opacity: 1;
}

.detail-galeri h5 {
    font-family: 'WorkSans Regular'; 
}

.kode-etik {
    background-color: #F4F4F4;
    padding-top: 40px;
    padding-bottom: 40px;
}

.kode-etik .col-6 h1 {
    position: absolute;
    top: 0;
    left: 0;
    color: #ddd;
    z-index: 1;
    font-family: 'WorkSans Semi Bold';
    font-size: 4rem;
}

.kode-etik .col-6 h4 {
    position: relative;
    z-index: 2;
    font-family: 'WorkSans Regular'; 
    padding-left: 10px;
}
