:root {
    --kua-green: #D4E09B;
}

.btn-green {
    background-color: var(--kua-green);
}

.btn-green:hover {
    background-color: #CAD982;
}

footer {
    font-family: 'WorkSans Regular';
    background-color: #f1f1f1;
    color: #aaa;
}

header {
    padding-top: 40px;
    background-color: var(--kua-green);
    padding-bottom: 40px;
}

header h1 {
    font-family: 'WorkSans Semi Bold';
}

header h5 {
    font-family: 'WorkSans Regular';
}

.dropdown-menu {
    border-radius: 0;
}

.dropdown-item.active {
    color: #212529;
    background-color: #EBF1D0;
}

.dropdown-item:hover {
    background-color: #f6f6f6;
}

.dropdown-item:active {
    color: #212529;
}

.visi-misi,
.sejarah,
.persyaratan-nikah,
.struktur-organisasi {
    background-color: white;
    padding: 20px;
    padding-bottom: 40px;
    margin-top: -30px;
    min-height: 70vh;
}
