:root {
    --kua-green: #D4E09B;
}

.btn-green {
    background-color: var(--kua-green);
}

.btn-green:hover {
    background-color: #CAD982;
}

footer {
    font-family: 'WorkSans Regular';
    background-color: #f1f1f1;
    color: #aaa;
}
