/* clear fix */
.galeri {
    margin-top: -40px;
}

.galeri .galeri-grid {
    padding-bottom: 40px;
}

.galeri h1 {
    font-family: 'WorkSans Semi Bold';
}

.galeri h5 {
    font-family: 'WorkSans Regular';
}

.galeri:after {
    content: '';
    display: block;
    clear: both;
}

.galeri-sizer,
.galeri-item {
    width: 100%;
}

@media (min-width: 576px) {
    .galeri-sizer,
    .galeri-item {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .galeri-sizer,
    .galeri-item {
        width: 33.333%;
    }
}

.galeri-item {
    float: left;
    position: relative;
}

.galeri-item img {
    display: block;
    max-width: 100%;
}
